.checkboxMainContainer .checkbox > label {
	padding-top: 0;
}
.checkboxMainContainer input[type="checkbox"] {
	margin: 4px 0 0 -20px;
}
.checkboxMainContainer .showmoreButton {
	display: none;
	cursor: pointer;
}
.checkboxMainContainer .showmore-hidden {
	display: none;
}

.checkboxMainContainer .checkboxContainer {
	display: flex
}

.checkboxMainContainer .checkboxColumn {
	margin-right: 10px;
}

.checkboxMainContainer i + span {
	margin-left:5px;
}

.checkboxMainContainer .noselect {
	user-select: none;
}

.checkboxMainContainer *[disabled="disabled"] {
	cursor: not-allowed;
}

.checkboxMainContainer *[disabled="disabled"] * {
	cursor: not-allowed;
}